:root {
  --sl-mud: rgb(34, 19, 13);
}

body {
  background-color: seagreen;
  overflow: hidden;
  user-select: none;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: seagreen;
  }

  .skyBox {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(82, 82, 246, 1) 0%,
      rgba(216, 248, 255, 1) 100%
    );
  }

  .grid {
    border: 1px solid white;
  }
  .icart {
    border:1px solid blue;
  }

  .sprite {
    position: absolute;
  }

  svg.wide {
    width: 100%;
  }

  svg.high {
    height: 100%;
  }

  .player {
    filter: drop-shadow(0px 5px 5px black);
    z-index: 1;
  }

  .playerBody {
    transform: translateX(-50%);
  }

  .playerHead {
    transform: translateX(-50%);
  }

  .control {
    background-color: rgba(0,0,128,.25);
    color: white;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0px 5px 5px black;
    z-index: 2;
  }

  .control > svg {
    stroke: dodgerblue;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  .hole {
    stroke: var(--sl-mud);
    fill: var(--sl-mud);
    opacity: 0.85;
  }

  @keyframes shrink {
    0% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(0, 0);
    }
  }

  @keyframes goInvisible {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  @keyframes buttonDown {
    0% {
      box-shadow: 0px 5px 5px black;
    }
    100% {
      box-shadow: 0px 0px 0px black;
      transform: translateY(3px);
    }
  }

  @keyframes buttonUp {
    0% {
      box-shadow: 0px 0px 0px black;
    }
    100% {
      box-shadow: 0px 5px 5px black;
    }
  }

  
@keyframes jiggle-down {
  35% {
    transform: translateY(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(-0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateY(0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-up {
  35% {
    transform: translateY(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateY(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-left {
  35% {
    transform: translateX(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateX(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-right {
  35% {
    transform: translateX(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(-0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateX(0.15rem) scale(1.02, 1);
  }
}
