:root {
  --sl-padding: 0.25em;
  --sl-mud: rgb(34, 19, 13);
  --sl-rock: darkslategrey;
  --sl-rock-hi: slategrey;
  --sl-rock-lo: rgb(41, 48, 48);
  --sl-log: rgb(58, 33, 21);
  --sl-log-hi: wheat;
  --sl-log-lo: black;
  --sl-spud: rgb(179, 150, 97);
  --sl-spud-hi: rgb(41, 38, 38);
  --sl-spud-lo: rgb(61, 45, 14);

  --sl-blank: black;
}

.selectPart {
  width: 4rem;
}

.selectColour {
  width: 3rem;
}

.left {
  width: 13rem;
}

.fill-red {
  fill: maroon;
}

.fill-wheat {
  fill: wheat;
}

.fill-dodgerblue {
  fill: dodgerblue;
}

.fill-gold {
  fill: gold;
}

.fill-darkgreen {
  fill: darkgreen;
}

.fill-orange {
  fill: orange;
}

.fill-black {
  fill: black;
}

.fill-grey {
  fill: grey;
}

.fill-navy {
  fill: navy;
}

.fill-brown {
  fill: brown;
}

.brows {
  stroke: black;
  stroke-linecap: round;
  stroke-width: 1.2;
}

html {
  border: 0;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: black;
}

h2 {
  padding: var(--sl-padding);
  margin: var(--sl-padding);
}

#playerSprite {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
}

#playerSprite > svg {
  align-self: flex-end;
}

.dialog {
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  max-width: 50em;
  max-height: 50em;
  background-color: silver;
  border-radius: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.dialog .header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
}

.dialog .close {
  cursor: pointer;
  background-color: brown;
}

.dialog .header .title {
  padding: 0.4rem 0 0 0.8rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.dialog .content {
  padding: 10px;
}

.dialog .footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: right;

  padding: var(--sl-padding);
}

button {
  cursor: pointer;
}

.field {
  width: 100%;
  height: 90vh;
  max-width: 50em;
  max-height: 50em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(62, 122, 62);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
}

.sky {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 82, 246, 1) 0%,
    rgba(216, 248, 255, 1) 100%
  );
}
#skyBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3rem;

  background-color: rgba(0, 0, 0, 0.01);
}

.cloud {
  position: absolute;
  left: 0;
  top: 0;
  fill: white;
}

#buildingLine {
}

#customerParade {
  position: absolute;
  left: 0;
  width: 120%;
  height: 1.2vh;
}

#grassLine {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.2vh;
  background-image: url("grassLine.svg");
}

.customer {
  width: 3.8vh;
  position: absolute;
  left: -10%;
}

.patch {
  background-color: seagreen;
  width: 100%;
  height: 100%;
  display: flex;
}

.patch > svg {
  align-self: flex-end;
}

.sky {
  display: flex;
}

.sky > svg {
  align-self: flex-end;
}

.page {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
}

.allocate {
  background-color: wheat;
  display: none;
}

.hardware {
  background-color: salmon;
  display: none;
}

.sales {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  display: none;
}

.night {
  background-color: navy;
  color: white;
  font-weight: bold;
  display: none;
}

.night > div {
  padding: 2em;
}

.tools {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: rgb(19, 19, 54);
  color: white;
  font-weight: bold;
  display: flex;
  gap: 2px;
}

.tools div {
  padding: var(--sl-padding);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.tools div:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.hardware div {
  width: 90%;
  height: auto;
}

.buttonize {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: var(--sl-padding);
  margin: var(--sl-padding);
}

.hardware div:hover,
.machine:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.tooMuch {
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.05);
}

.tooMuch:hover {
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.05);
}

.spudList {
  padding: var(--sl-padding);
  margin: var(--sl-padding);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
}

.spudlist > div {
  margin: var(--sl-padding);
}

.spudList:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.spudListButton {
  padding: var(--sl-padding);
  width: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  margin: var(--sl-padding);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.spudListButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sackListButtons {
  display: flex;
}

.allocateContent {
  display: flex;
  gap: var(--sl-padding);
  padding: var(--sl-padding);
  align-items: stretch;
  height: 85%;
}

.sack {
  border-radius: 5px;
  border: 3px solid rgb(75, 46, 26, 0.5);
  padding: var(--sl-padding);
  overflow-y: scroll;
  flex-grow: 1;
}

.sackSpuds {
  display: flex;
  flex-direction: column;
}

.sackSpudName {
  font-weight: bold;
}

.machines {
  border-radius: 5px;
  border: 3px solid rgb(75, 46, 26, 0.5);
  padding: var(--sl-padding);
  overflow-y: scroll;
  flex-grow: 1;
}

.machine {
  cursor: pointer;
}

.selected {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.machineName {
  font-weight: bold;
}

.button_tool {
  background-color: wheat;
}

.button_machine {
  background-color: lightblue;
}

.controlButton {
  background-color: rgba(55, 53, 82);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.controlButton:hover {
  background-color: rgba(81, 78, 116);
}

.creator {
  display: flex;
}

.creator .left div {
  padding-bottom: 0.75rem;
}

.demoBody {
  width: 100%;
}

.currentPos {
  background-color: rgba(221, 200, 131);
  border-radius: 0.2em;
}

.inRange {
  background-color: rgb(211, 119, 76);
}

.control-icon {
  stroke: dodgerblue;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.thick {
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.thin {
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.hole {
  stroke: var(--sl-mud);
  fill: var(--sl-mud);
  opacity: 0.85;
}

.rock {
  stroke: var(--sl-rock);
  fill: var(--sl-rock);
  opacity: 1;
}

.rock-hi {
  stroke: var(--sl-rock-hi);
  fill: var(--sl-rock-hi);
  opacity: 1;
}

.rock-lo {
  stroke: var(--sl-rock-lo);
  fill: var(--sl-rock-lo);
  opacity: 1;
}

.log {
  stroke: var(--sl-log);
  fill: var(--sl-log);
  opacity: 1;
}

.log-hi {
  stroke: var(--sl-log-hi);
  fill: var(--sl-log-hi);
  opacity: 1;
}

.log-lo {
  stroke: var(--sl-log-lo);
  fill: var(--sl-log-lo);
  opacity: 1;
}

.blank {
  stroke: var(--sl-blank);
  fill: var(--sl-blank);
  opacity: 1;
}

.spud {
  stroke: var(--sl-spud);
  fill: var(--sl-spud);
  opacity: 1;
}

.spud-lo {
  stroke: var(--sl-spud-lo);
  fill: var(--sl-spud-lo);
  opacity: 1;
}

.spud-hi {
  stroke: var(--sl-spud-hi);
  fill: var(--sl-spud-hi);
  opacity: 1;
}

.hidden {
  display: none;
}

@keyframes shrink {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes jiggle-down {
  35% {
    transform: translateY(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(-0.2rem) scale(0.9, 1);
  }

  85% {
    transform: translateY(0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-up {
  35% {
    transform: translateY(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(0.2rem) scale(0.9, 1);
  }

  85% {
    transform: translateY(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-left {
  35% {
    transform: translateX(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(0.2rem) scale(0.9, 1);
  }

  85% {
    transform: translateX(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-right {
  35% {
    transform: translateX(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(-0.2rem) scale(0.9, 1);
  }

  85% {
    transform: translateX(0.15rem) scale(1.02, 1);
  }
}

@keyframes dig-spud {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(5, 5);
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes move-customer {
  from {
    left: 100%;
  }
  35% {
    left: 53%;
  }
  45% {
    left: 52%;
  }
  to {
    left: -10%;
  }
}
