body {
  background-color: seagreen;
  overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: seagreen;
  }

  .sprite {
    position: absolute;
  }

  .player {
    filter: drop-shadow(0px 5px 5px black);
  }

  .control {
    background-color: navy;
    color: white;
    opacity: 50%;
    border:3px solid white;
    border-radius: 5px;
    margin: 5px;
  }

  div > svg {
    height: 100%;
  }

  @keyframes shrink {
    0% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(0, 0);
    }
  }

  @keyframes goInvisible {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  
@keyframes jiggle-down {
  35% {
    transform: translateY(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(-0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateY(0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-up {
  35% {
    transform: translateY(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateY(0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateY(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-left {
  35% {
    transform: translateX(-0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateX(-0.15rem) scale(1.02, 1);
  }
}

@keyframes jiggle-right {
  35% {
    transform: translateX(0.2rem) scale(1, 1);
  }

  50% {
    transform: translateX(-0.2rem) scale(0.9, 1);
    filter: drop-shadow(0px 5px 5px black);
  }

  85% {
    transform: translateX(0.15rem) scale(1.02, 1);
  }
}
